*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 40px;
    background: rgb(2, 247, 22);
}
a {
    color: rgb(27, 230, 27);
}
footer {
    width: 100%;
    height: 70px;
    background: #075c5c;
}
main {
    width: 70%;
    margin: 0 auto;
}